@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background-color: #070d59;
  width: 12rem;
  height: 3.2rem;
  border-radius: 3rem;
  text-align: center;
  cursor:pointer;
}


#hero {
  background-image: url(../images/herodesk.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url(../images/heromob.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero-text {
  text-shadow: 0 .1rem .2rem rgba(0, 0, 0, .5);
}

/* Hamburger menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 3px;
  top: 10px;
  left: 0;
  background: #070d59;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform:translateY(7px);
}

.hamburger-bottom {
  transform:translateY(14px);
}

.open {
  transform: rotate(-90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.open .hamburger-middle {
  display: none;
}



<body class="relative">
<!-- hero section  -->
<section id="hero">
  <!-- hero container  -->
  <div class="container mx-auto max-w-8xl px-6 py-10 md:px-0">
    <!-- logo/menu container  -->
    <nav
      class="flex items-center justify-between p-4 mt-5 text-colorPrimary font-bold"
    >
      <!-- logo  -->
      <a href="/index.html"
        ><img
          src="images/logo.png"
          alt=""
          class="md:flex lg:w-6/12 md:w-32 w-2/5"
      /></a>

      <!-- menu  -->
      <div
        class="hidden h-10 md:flex md:items-center space-x-8 md:space-x-4 flex-shrink-0 uppercase"
      >
        <div class="group">
          <a href="#about-us">About us</a>
          <div
            class="mx-1 group-hover:border-b-2 group-hover:border-red-500"
          ></div>
        </div>
        <div class="group">
          <a href="#our-services">our services</a>
          <div
            class="mx-1 group-hover:border-b-2 group-hover:border-red-500"
          ></div>
        </div>
        <div class="group">
          <a href="#our-team">our team</a>
          <div
            class="mx-1 group-hover:border-b-2 group-hover:border-red-500"
          ></div>
        </div>

        <div class="group">
          <a href="#contact">contact us</a>
          <div
            class="mx-1 group-hover:border-b-2 group-hover:border-red-500 visited:border-red-500"
          ></div>
        </div>
      </div>

      <!-- hamburger btn  -->
      <div class="md:hidden">
        <button
          id="menu-btn"
          class="z-40 block hamburger md:hidden focus:outline-none"
        >
          <span class="hamburger-top"></span>
          <span class="hamburger-middle"></span>
          <span class="hamburger-bottom"></span>
        </button>
      </div>
    </nav>

    <!-- mobile menu  -->
    <div
      id="menu"
      class="absolute hidden top-0 bottom-0 left-0 flex-col self-end w-full h-2/3 py-1 pt-40 pl-12 space-y-3 text-lg font-bold text-colorPrimary bg-red-400 uppercase"
    >
      <a href="/index.html" class="hover:text-white">home </a>
      <a href="#about-us" class="hover:text-white">about us</a>
      <a href="#our-services" class="hover:text-white">our services</a>
      <a href="#our-team" class="hover:text-white">our team</a>
      <a href="#contact" class="hover:text-white">contact us</a>
    </div>

    <div
      class="max-w-2xl mt-20 mb-10 p-4 uppercase font-sans text-colorSecondary font-bold text-4xl md:text-6xl md:p-10 md:mt-32 md:mb-20 md:mx-0 bg-slate-50/40 border-4 border-red-500"
    >
      we illuminate your home with lively colors
    </div>
    <button
      class="btn flex items-center justify-center text-accentColor uppercase hover:bg-colorSecondary shadow-md hover:translate-y-1 md:mb-20"
    >
      get estimate &RightArrow;
    </button>
  </div>
</section>

<!-- section about  -->
<section id="about-us">
  <div
    class="container mx-auto max-w-8xl px-6 py-10 md:px-0 lg:mt-20 lg:mmb-32"
  >
    <div
      class="flex flex-col lg:items-center lg:flex-row gap-10 lg:gap-20 mt-20"
    >
      <!-- about image container  -->

      <!-- about image  -->
      <img
        src="images/about.png"
        alt=""
        class="w-full lg:w-2/4 shadow-md rounded-3xl"
      />

      <div
        class="flex flex-col mx-auto w-3/4 text-lg md:text-xl full:mt-40"
      >
        <h2
          class="flex flex-col w-full mt-12 uppercase font-bold text-colorPrimary text-3xl md:text-5xl md:mt-10 md:mb-10 border-red-500 border-t-4 pt-4 text-center"
        >
          about us
        </h2>
        <p class="pt-12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Perferendis minus sapiente numquam, ipsam tempora iusto placeat
          laboriosam! Repellendus animi quia, repellat voluptas voluptatem
          ta rerum doloremque explicabo quo reiciendis eius quasi ipsam
          inventore eleniti hic cupiditate eveniet amet vero omnis culpa
          sequi laborum explicabo dolorum earum magnam, mollitia, in unde,
          repellendus voluptate aliquid.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- section services  -->
<section id="our-services" class="pt-12">
  <div class="container mx-auto mt-12 mb-10 md:mb-32">
    <h2
      class="flex flex-col w-3/4 md:w-2/4 mx-auto mt-5 uppercase font-bold text-center text-colorPrimary text-3xl md:text-5xl md:mt-10 md:mb-32 border-red-500 border-t-4 pt-4"
    >
      our services
    </h2>
    <div class="container mx-auto px-6 pb-12 md:pb-32 mt-12">
      <!-- first row  -->
      <div
        class="grid lg:gap-y-20 md:grid-cols-2 md:grid-row-3 xl:grid-cols-3 xl:grid-rows-2 place-items-center space-y-12 text-center md:gap-x-8 md:space-y-12"
      >
        <!-- item 1  -->
        <div
          class="flex flex-col items-center space-y-0 w-3/4 md:w-/2 md:h-/10 xl:w-10/12 border-2 p-5 rounded-lg pb-12 mb-0 shadow-md md:mt-12"
        >
          <div
            class="flex items-center justify-center flex-grow-0 md:mb-6 h-24"
          >
            <img
              src="images/paint-roller-solid.svg"
              alt=""
              class="w-12 h-12"
            />
          </div>
          <h3 class="text-xl font-bold uppercase">interior / Painting</h3>
          <p class="max-w-md pb-10 pt-4">
            The ability to use a smartphone, tablet or a computer to access
            your account means your files follow you everywhere.
          </p>
          <button
            class="btn flex items-center justify-center text-accentColor uppercase hover:bg-colorSecondary shadow-md hover:translate-y-1 md:mb-20"
          >
            view more &RightArrow;
          </button>
        </div>

        <!-- item 2  -->
        <div
          class="flex flex-col items-center space-y-2 w-3/4 md:w-/2 md:h/10 xl:w-10/12 border-2 p-5 rounded-lg pb-12 shadow-md"
        >
          <div class="flex items-center justify-center mb-6 h-24">
            <img src="images/scroll-solid.svg" alt="" class="w-12 h-12" />
          </div>
          <h3 class="text-xl font-bold uppercase">wallpaper & wallpanel</h3>
          <p class="max-w-md pb-10 pt-4">
            2-factor authentication and user controlled encryption are just
            a couple of the security features we allow to help
          </p>
          <button
            class="btn flex items-center justify-center text-accentColor uppercase hover:bg-colorSecondary shadow-md hover:translate-y-1 md:mb-20"
          >
            view more &RightArrow;
          </button>
        </div>

        <!-- item 3 -->
        <div
          class="flex flex-col items-center space-y-2 w-3/4 md:w-/2 md:h-/10 xl:w-10/12 border-2 p-5 rounded-lg shadow-md pb-12"
        >
          <div class="flex items-center justify-center mb-6 h-24">
            <img src="images/trowel-bricks-solid.svg" alt="" class="w-12" />
          </div>
          <h3 class="text-xl font-bold uppercase">dry wall & pop</h3>
          <p class="max-w-md pb-10 pt-4">
            2-factor authentication and user controlled encryption are just
            a couple of the security features we allow to help secure your
            files.
          </p>
          <button
            class="btn flex items-center justify-center text-accentColor uppercase hover:bg-colorSecondary shadow-md hover:translate-y-1 md:mb-20"
          >
            view more &RightArrow;
          </button>
        </div>

        <!-- item 4  -->
        <div
          class="flex flex-col items-center space-y-2 w-3/4 md:w-/2 md:h-/10 xl:w-10/12 border-2 p-5 rounded-lg shadow-md pb-12"
        >
          <div class="flex items-center justify-center mb-6 h-24">
            <img
              src="images/chess-board-solid.svg"
              alt=""
              class="w-12 h-12"
            />
          </div>
          <h3 class="text-xl font-bold uppercase">
            crown / window moulding
          </h3>
          <p class="max-w-md pb-10 pt-4">
            The ability to use a smartphone, tablet or a computer to access
            your account means your files follow you everywhere.
          </p>
          <button
            class="btn flex items-center justify-center text-accentColor uppercase hover:bg-colorSecondary shadow-md hover:translate-y-1 md:mb-20"
          >
            view more &RightArrow;
          </button>
        </div>

        <!-- item 5  -->
        <div
          class="flex flex-col items-center space-y-2 w-3/4 md:w-/2 xl:w-10/12 border-2 p-5 rounded-lg shadow-md pb-12"
        >
          <div class="flex items-center justify-center mb-6 h-24">
            <img
              src="images/screwdriver-wrench-solid.svg"
              class="w-12"
              alt=""
            />
          </div>
          <h3 class="text-xl font-bold uppercase">
            Interior decor finishes
          </h3>
          <p class="max-w-md pb-10 pt-4">
            2-factor authentication and user controlled encryption are just
            a couple of the security features we allow to help secure your
            files.
          </p>
          <button
            class="btn flex items-center justify-center text-accentColor uppercase hover:bg-colorSecondary shadow-md hover:translate-y-1 md:mb-20"
          >
            view more &RightArrow;
          </button>
        </div>

        <!-- item 6  -->
        <div
          class="flex flex-col items-center space-y-2 w-3/4 md:w-/2 xl:w-10/12 border-2 rounded-lg p-5 shadow-md pb-12"
        >
          <div class="flex items-center justify-center mb-6 h-24">
            <img src="images/film-solid.svg" alt="" class="w-12" />
          </div>
          <h3 class="text-xl font-bold uppercase">
            Security you can trust
          </h3>
          <p class="max-w-md pb-10 pt-4">
            2-factor authentication and user controlled encryption are just
            a couple of the security features we allow to help secure your
            files.
          </p>
          <button
            class="btn flex items-center justify-center text-accentColor uppercase hover:bg-colorSecondary shadow-md hover:translate-y-1 md:mb-20"
          >
            view more &RightArrow;
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section our team  -->
<section id="our-team" class="pt-12">
  <div class="container mx-auto mt-12 mb-32">
    <div class="container mx-auto px-6 pb-32 mt-12">
      <!-- first row  -->
      <div
        class="grid lg:gap-y-12 md:grid-cols-2 md:grid-row-3 xl:grid-cols-3 xl:grid-rows-2 place-items-center space-y-8 text-center md:gap-x-8 md:space-y-12"
      >
        <!-- item 1  -->
        <div
          class="flex flex-col items-center space-y-2 w-3/4 md:w-/2 md:h-/10 xl:w-10/12 p-5 pb-12"
        >
          <h2
            class="flex flex-col mx-auto mt-5 uppercase font-bold text-center text-colorPrimary text-3xl md:text-5xl md:mt-10 md:mb-32 border-red-500 border-t-4 pt-4"
          >
            our team
          </h2>
        </div>

        <!-- item 2  -->
        <div
          class="flex flex-col justify-center-center space-y-2 w-3/4 md:w-/2 md:h/10 xl:w-10/12 border-2 p-5 rounded-lg pb-12 shadow-md"
        >
          <div class="flex items-center justify-center p-8 md:p-12">
            <img src="images//game.jpg" alt="" class="w-64 rounded-full" />
          </div>
          <h3 class="text-xl font-bold uppercase text-colorPrimary">
            eric atiso
          </h3>
          <p class="text-lg uppercase font-semibold">ceo / decorator</p>
        </div>

        <!-- item 3 -->
        <div
          class="flex flex-col justify-center-center space-y-2 w-3/4 md:w-/2 md:h/10 xl:w-10/12 border-2 p-5 rounded-lg pb-12 shadow-md"
        >
          <div class="flex items-center justify-center p-12">
            <img src="images/img.jpg" alt="" class="w-64 rounded-full" />
          </div>
          <h3 class="text-xl font-bold uppercase text-colorPrimary">
            eleazer abbey
          </h3>
          <p class="text-lg uppercase font-semibold">pa / decorator</p>
        </div>

        <!-- item 5  -->
        <div
          class="flex flex-col justify-center-center space-y-2 w-3/4 md:w-/2 md:h/10 xl:w-10/12 border-2 p-5 rounded-lg pb-12 shadow-md"
        >
          <div class="flex items-center justify-center p-12">
            <img src="images/afobu.jpg" alt="" class="w-64 rounded-full" />
          </div>
          <h3 class="text-xl font-bold uppercase text-colorPrimary">
            yusif inusah
          </h3>
          <p class="text-lg uppercase font-semibold">decorator</p>
        </div>

        <!-- item 6  -->
        <div
          class="flex flex-col justify-center-center space-y-2 w-3/4 md:w-/2 md:h/10 xl:w-10/12 border-2 p-5 rounded-lg pb-12 shadow-md"
        >
          <div class="flex items-center justify-center p-12">
            <img
              src="images/moischa.jpg"
              alt=""
              class="w-64 rounded-full"
            />
          </div>
          <h3 class="text-xl font-bold uppercase text-colorPrimary">
            richmond agodovi
          </h3>
          <p class="text-lg uppercase font-semibold">decorator</p>
        </div>
        <div
          class="flex flex-col justify-center-center space-y-2 w-3/4 md:w-/2 md:h/10 xl:w-10/12 border-2 p-5 rounded-lg pb-12 shadow-md"
        >
          <div class="flex items-center justify-center p-12">
            <img src="images/frexzy.jpg" alt="" class="w-64 rounded-full" />
          </div>
          <h3 class="text-xl font-bold uppercase text-colorPrimary">
            jonathan ehon
          </h3>
          <p class="text-lg uppercase font-semibold">decorator</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- contact us  -->
<section id="contact" class="md:pt-12">
  <div
    class="container flex flex-col-reverse md:flex-row items-center mx-auto mt-12 mb-32 md:gap-10"
  >
    <div
      class="container flex flex-col my-auto py-8 md:py-12 items-center mx-auto w-3/4 mt-12 rounded-3xl shadow-lg md:border-4 border-2 border-red-500"
    >
      <form class="flex flex-col w-3/4 space-y-4 md:space-y-10 mt-0">
        <input
          type="text"
          name="firstname"
          id="firstname"
          placeholder="First name"
          required
          class="bg-slate-100 rounded-full p-4 text-xl pl-8 outline-none cursor-pointer text-colorPrimary"
        />
        <input
          type="text"
          name="lastname"
          id="lastname"
          required
          placeholder="Last name"
          class="bg-slate-100 rounded-full p-4 text-xl pl-8 outline-none cursor-pointer text-colorPrimary"
        />
        <input
          type="number"
          name="phone"
          id="phone"
          placeholder="Phone number"
          class="bg-slate-100 rounded-full p-4 text-xl pl-8 outline-none cursor-pointer text-colorPrimary"
          required
        />
        <textarea
          name="message "
          id="message"
          cols="30"
          rows="5"
          required
          placeholder="please leave a message..."
          class="bg-slate-100 rounded-2xl p-8 text-xl outline-none cursor-pointer text-colorPrimary"
        ></textarea>
        <button
          class="btn flex items-center justify-center mx-auto text-white uppercase hover:bg-colorSecondary shadow-md hover:translate-y-1 md:mb-20"
        >
          submit &RightArrow;
        </button>
      </form>
    </div>

    <div
      class="container flex flex-col justify-center items-center mx-auto px-6 pb-12 md:pb-32 mt-0 md:mt-12"
    >
      <h2
        class="flex flex-col mx-auto mt-5 uppercase font-bold text-center text-colorPrimary text-3xl md:text-5xl md:mt-2 mb-10 md:mb-32 border-red-500 border-t-4 pt-4"
      >
        contact us
      </h2>
      <img src="/images/contact.png" alt="" class="w-[40rem]" />
    </div>
  </div>
</section>


</body>